.slide-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

.slide-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.slide-up {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

.slide-down {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}