.navbar {
    /* Set navbar to fixed position */
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 40px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--md-sys-color-outline);
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--md-sys-color-primary);
    /* Change to desired underline color */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-link:hover {
    color: var(--md-sys-color-primary);
    /* Change to desired hover color */
}

.nav-link:hover::after {
    opacity: 1;
}

nav ul li.active {
    position: relative;
}

nav ul li.active > a {
    color: var(--md-sys-color-primary);
}

nav ul li.active::after {
    content: '';
    position: absolute;
    bottom: 29px;
    /* Adjust this value to position the dot */
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    /* Adjust this value to control the size of the dot */
    height: 6px;
    /* Adjust this value to control the size of the dot */
    border-radius: 50%;
    background-color: var(--md-sys-color-secondary);
    /* Adjust this value to set the color of the dot */
}

.underline {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--md-sys-color-primary);
    /* Change to desired underline color */
}